<h3><%= @article.title %></h3>
<div class="btns">
  <%= link_to 'Edit', edit_article_path(@article) %>
  <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Delete article?" } %>
</div>
<h4>By: <%= link_to @article.user.username, user_path(@article.user) %></h4>
<p><%= @article.content %></p>

<h3>Comments</h3>
<%= render "comments/form" %>

<% @comments = @article.comments.order(created_at: :desc) %>
<%= render "comments/list" %>

<%= link_to 'Back', articles_path %>